body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 100px;
      }

      #heart {
        font-size: 80px;
        cursor: pointer;
        transition: transform 0.2s;
      }

      #heart:active {
        transform: scale(1.2);
      }

      #message {
        margin-top: 20px;
        font-size: 18px;
      }

      body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("https://plus.unsplash.com/premium_photo-1670850875280-3dfd998b10e7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dmFsZW50aW5lcyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
        background-size: cover;
        background-position: center;
      }

      .container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
      }

      .question {
        margin-bottom: 20px;
        font-size: 18px;
        color: #333;
      }

      .answer {
        margin-bottom: 30px;
      }

      .answer input {
        padding: 10px;
        width: 100%;
        max-width: 400px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }

      #submitBtn {
        background-color: #e63946;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      #submitBtn:hover {
        background-color: #d62839;
      }


.option {
  padding:10px;
  border:1px solid #ccc;
  border-radius:5px;
  margin-bottom:8px;
  cursor:pointer;
  text-align:left;
}

.option.correct {
  background: lightgreen;
}

.option.wrong {
  background: lightcoral;
}

input.correct {
  background: lightgreen;
}

input.wrong {
  background: lightcoral;
}
input.hint {
  background: rgb(248, 248, 108);
}
