.mole {
  background-image: url(./images/e6e2c1f7-7675-4109-be77-7e374ec15710.webp);
  background-repeat: no-repeat;
  
  width: 35vw;
  max-width: 260px;
  aspect-ratio: 4 / 5;
  height: auto;

  background-size: contain;
  background-position: center;

  cursor: url("./images/kiss-cursor.png") 16 16, pointer;
  opacity: 0;
  transition: opacity 50ms;
  position: absolute;
  /* overflow: hidden; */
}

#score, #timer{
  position: absolute;
  top: 10px;
  font-size: 25px;
  font-family: "Comic Sans MS", sans-serif;
}
#timer{ 
  left: 10px; 
}

#score {
  right: 10px;
}
#score:before{ content:"Score:";}

#wrapper {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  height: 60vh;
}

#restartBtn{
  position:absolute;
  left:0px;
  top:0px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: auto;  
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

#message {
  font-size: 36px;
  margin-bottom: 20px;
  color: pink;
}

#nextBtn {
    background-color: pink;
    padding: 12px 30px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
    align-self: center;
}


body,
html {
  color:orange;
  text-shadow: 1px 1px 6px #000;
  height: 100%;
  background: linear-gradient(to bottom, #627d4d 0%, #1f3b08 100%);
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 5vw;
  text-align: center;
}
